.login-main {
  display: flex;
  padding: 1em;
  /* justify-content: end;
  align-items: flex-end; */
  flex-direction: column;
  flex: 1;
  background-image: url("bg.jpg");
  background-size: cover;
}

.login-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.login-card {
  justify-self: center;
  border-radius: 10px;
  color: rgb(54, 54, 54);
  background-color: rgb(255, 255, 255);
  padding: 0.5em;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.089);
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .login-screen {
    scale: 0.8;
  }
}

.login-header {
  text-align: center;
  font-size: 2.5em;
  margin: 10px;
}

.login-body {
  padding: 1em;
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.button-div {
  display: flex;
  gap: 10px;
}

.login-screen-button {
  flex: 1;
}
/* 
.input-group-text {
  width: 7em;
} */

/* .input-box {
  background-color: gainsboro;
  padding: 0.5em;
  width: 250px;
  margin-top: 5px;
  border: 0px;
  border-radius: 5px;
} */

.login-button {
  background-color: #a53e42;
}

.login-button:hover {
  background-color: #6f292b;
}

.full-login-button {
  background-color: #3e70a7;
}

.full-login-button:hover {
  background-color: #244364;
  outline-color: black;
}
