.lobby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.lobby-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.lobby-user-info {
  margin-bottom: 20px;
  text-align: center;
}

.lobby-actions {
  display: flex;
  gap: 10px;
}

.lobby-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #3e70a7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.lobby-button:hover {
  background-color: #244364;
}

.lobby-cancel-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #a53e42;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.lobby-cancel-button:hover {
  background-color: #6f292b;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3e70a7;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1s;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
