main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.game-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  margin: 0px 20px;
}

.all-play-sections {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  user-select: none;
}

.text-and-inv-and-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-and-inv-section {
  display: flex;
  flex-direction: row;
}

.aspect-boxes-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.aspect-box-text {
  margin: 0px 0px;
}

.aspect-box-score {
  align-self: center;

  box-shadow: inset 0 0 2px 2px #0000001e;
  background-color: rgb(214, 214, 214);
  border-radius: 5px;
  margin: 5px 0px;
}

.center-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.centered-header {
  text-align: center;
  margin: 15px;
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.item-box {
  align-self: center;
  background-color: whitesmoke;
  border: 5px solid rgb(167, 167, 167);
  border-radius: 5px;

  border-radius: 5px;
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item-box-text {
  margin: 0px;
  font-weight: bold;
  font-size: 1.75em;
  color: rgb(167, 167, 167);
  user-select: none;
}

.data-box {
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  padding: 0px 10px;
  font-weight: bold;
  font-size: 1em;
}

.players-boxes-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 500px;
  justify-content: space-around;
}

.player-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.current-playing-turn {
  background-color: #c2cedb;
}

.players-box-name-and-cards {
  flex: 6;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: fit-content;
}

#current-turn {
  background-color: #c2cedb;
}

.player-box-name {
  white-space: nowrap;
  font-size: medium;
  margin: 5px 0px;
}

.card-count {
  display: flex;
  justify-content: center;
  margin: 5px 15px;
}

.dummy-card {
  background-color: #ff0000;
  border-radius: 2px;
  margin: 0px 5px;
  width: 20px;
  height: 30px;
}

#unplayed {
  background-color: #b4b4b4;
}

#played {
  background-color: #00000000;
}

.place {
  display: flex;
  background-color: #333333;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0px 1em;
  flex: 1;

  justify-content: center;
  align-items: center;
}

.place-text-container {
  display: flex;
  flex: row;
  color: whitesmoke;
  font-weight: bold;
}

.place-text {
  display: flex;
  line-height: 80px;
  margin: 0px;
  font-size: 0.8em;
  align-self: flex-end;
}

.big-place-text-number {
  display: flex;
  line-height: 80px;
  margin: 0px;
  font-size: 2em;
}

.whose-turn-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.whose-turn {
  justify-self: flex-start;
  text-align: center;
}

.all-card-sections {
  flex: 1;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.card-section {
  display: flex;
  justify-content: center;
  padding: 0px 60px;
  justify-content: space-around;
}

.individual-card-container {
  height: 160px;
  overflow: visible;
  width: 0px;
}

.card-relative-pos {
  position: relative;
  left: -50px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #c2cedb;
  box-sizing: border-box;
  border: 10px solid #c2cedb;
  border-radius: 5px;
  padding: 0px;
  height: 150px;
  width: 100px;
  text-align: center;
  justify-content: flex-end;
}

.drag-layer {
  position: absolute;
}

.transparent-card {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100px;
}

.card-body-text {
  font-size: 0.6em;
  flex-grow: 1;
}

.card-outcome-text {
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 0.6em;
  margin: 5px 0px;
  padding: 5px 0px;
}

.draggable:hover {
  scale: 1.2;
  z-index: 1;
  cursor: grab;
}

.my-turn {
  display: none;
}

@media screen and (max-width: 1200px) {
  .game-container {
    flex-direction: column;
    margin: 0px;
  }

  .items-container {
    flex-direction: row;
  }
}
