.bold {
  font-weight: bold;
}

.magic {
  color: #c540ff;
}

.strength {
  color: #d92929;
}

.intelligence {
  color: #4cae3b;
}

.charisma {
  color: #ff9800;
}

.unknown {
  color: rgb(255, 115, 0);
}
