@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto";
}

body {
  background-color: #e2e2e2;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  padding: 1em;
  align-items: center;
  flex-direction: column;
}

footer {
  display: flex;
  padding: 0px 20px;
  justify-content: right;
}

.footer-item {
  padding: 0px 0.5em;
  color: grey;
}
