header {
  background-color: #3e70a7;
  display: flex;
  padding: 0px 10px;
}

nav {
  flex-grow: 1;
  display: flex;
  align-self: center;
  box-sizing: content-box;
}

menu {
  display: flex;
  margin: 0px;
  padding-left: 10px;
}

.header-title {
  align-self: center;
  color: whitesmoke;
  margin: 0px;
  padding-left: 10px;
}

.header-menu {
  display: flex;
  color: green;
  text-decoration: none;
  flex-direction: column;
}

.header-text {
  display: flex;
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.header-menu-link {
  padding: 15px 20px;
}

.header-menu-link:hover {
  background-color: #ffffff22;
}

.header-right {
  display: flex;
  align-items: center;
}

.log-out-button {
  background-color: #a53e42;
  border-radius: 5px;
  border: 2px solid whitesmoke;
  padding: 0.3em 0.7em;
  font-weight: bold;
  color: whitesmoke;
}

.log-out-button:hover {
  background-color: #cc4f55;
}
