main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.all-play-sections {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-and-inv-and-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-and-inv-section {
  display: flex;
  flex-direction: row;
}

.text-and-inv-section > * {
  margin-left: 20px;
  margin-right: 20px;
}

.text-adventure-container {
  flex: 1;
  align-self: flex-start;
}

.aspect-boxes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aspect-box {
  width: 120px;
  justify-self: right;
}

.aspect-box-text {
  margin: 0px 0px;
}

.aspect-box-score {
  align-self: center;
  background-color: rgb(214, 214, 214);
  border-radius: 5px;
  margin: 5px 0px;
}

.text-adventure {
  border-radius: 10px;
  background-color: #333333;
  color: whitesmoke;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: rgb(121, 83, 115) rgba(56, 56, 56, 0);
  height: 200px;
  width: 500px;
  font-size: 0.8em;
  padding: 20px;
}

.text-adventure-text {
}

.centered-header {
  text-align: center;
  margin: 15px;
}

.right-align-container {
  justify-content: flex-end;
  display: flex;
  flex: 2;
}

.left-align-container {
  display: flex;
  justify-items: left;
  flex: 2;
}

.items-container {
  display: flex;
  flex-direction: column;
}

.item-box {
  align-self: center;
  background-color: whitesmoke;
  border: 5px solid rgb(167, 167, 167);
  border-radius: 5px;

  border-radius: 5px;
  margin-bottom: 10px;
  width: 45px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item-box-text {
  margin: 0px;
  font-weight: bold;
  font-size: 1.75em;
  color: rgb(167, 167, 167);
}

.data-box {
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  padding: 0px 20px;
  font-weight: bold;
  font-size: 1em;
}

.players-boxes-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 500px;
  justify-content: space-around;
}

.player-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.current-playing-turn {
  background-color: #c2cedb;
}

.players-box-name-and-cards {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 200px;
}

.player-box-name {
  margin: 5px 0px;
}

.card-count {
  display: flex;
  justify-content: space-between;
  margin: 5px 15px;
}

.dummy-card {
  background-color: #ff0000;
  border-radius: 2px;
  width: 20px;
  height: 30px;
}

[id="unplayed"] {
  background-color: #b4b4b4;
}

[id="played"] {
  background-color: #00000000;
}

.place {
  display: flex;
  flex: 1;
  background-color: #333333;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  width: 40px;

  justify-content: center;
  align-items: center;
}

.place-text-container {
  display: flex;
  flex: row;
  color: whitesmoke;
  font-weight: bold;
}

.place-text {
  display: flex;
  line-height: 80px;
  margin: 0px;
  font-size: 0.8em;
  align-self: flex-end;
}

.big-place-text-number {
  display: flex;
  line-height: 80px;
  margin: 0px;
  font-size: 2em;
}

.whose-turn-and-all-card-sections {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.whose-turn {
  justify-self: flex-start;
  text-align: center;
}

.all-card-sections {
  flex: 1;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.card-section {
  display: flex;
  align-self: center;
  gap: 20px;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #c2cedb;
  box-sizing: border-box;
  border: 10px solid #c2cedb;
  border-radius: 5px;
  padding: 0px;
  height: 150px;
  width: 100px;
  text-align: center;
  justify-content: flex-end;
}

.drag-here-card {
  align-self: center;
  border: 5px dashed rgb(167, 167, 167);
  background-color: #ffffff00;
  display: flex;
  justify-content: center;
}

.drag-here-card-text {
  font-size: 0.8em;
  margin: 10px;
  font-style: italic;
  color: rgb(167, 167, 167);
}

.card-body-text {
  font-size: 0.6em;
  flex-grow: 1;
}

.card-outcome-text {
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 0.6em;
  margin: 5px 0px;
  padding: 5px 0px;
}

.draggable:hover {
  scale: 1.2;
  cursor: move;
}

.my-turn {
  display: none;
}
