main {
  justify-content: unset;
}

.all-play-sections {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-and-inv-and-header {
  display: flex;
  flex-direction: column;
}

.text-and-inv-section {
  display: flex;
  flex-direction: row;
}

.text-and-inv-section > * {
  margin-left: 20px;
  margin-right: 20px;
}

.text-adventure-container {
  flex: 1;
  align-self: center;
}

.aspect-boxes-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aspect-box {
  width: 120px;
}

.aspect-box-text {
  margin: 5px 0px;
}

.text-adventure {
  background-color: #262626;
  color: whitesmoke;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: rgb(121, 83, 115) rgb(56, 56, 56);
  height: 200px;
  width: 500px;
  font-size: 0.8em;
  padding: 20px;
}

.text-adventure-text {
}

.centered-header {
  text-align: center;
}

.items-container {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.item-box {
  align-self: center;
  background-color: whitesmoke;
  border: 5px solid rgb(167, 167, 167);
  border-radius: 5px;

  border-radius: 5px;
  margin-bottom: 20px;
  width: 45px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item-box-text {
  margin: 0px;
  font-weight: bold;
  font-size: 1.75em;
  color: rgb(167, 167, 167);
}

.data-box {
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  padding: 0px 20px;
  font-weight: bold;
  font-size: 1em;
}

.players-boxes-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 500px;
  justify-content: space-around;
}

.player-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.players-box-name-and-cards {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 200px;
}

.player-box-name {
  margin: 5px 0px;
}

.card-count {
  display: flex;
  justify-content: space-between;
  margin: 5px 15px;
}

.dummy-card {
  background-color: #ff0000;
  border-radius: 2px;
  width: 20px;
  height: 30px;
}

[id="unplayed"] {
  background-color: #b4b4b4;
}

[id="played"] {
  background-color: #00000000;
}

.place {
  display: flex;
  flex: 1;
  background-color: greenyellow;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  width: 40px;

  justify-content: center;
  align-items: center;
}

.place-text-container {
  display: flex;
  flex: row;
}

.place-text {
  display: flex;
  line-height: 80px;
  margin: 0px;
  font-size: 0.8em;
  align-self: flex-end;
}

.big-place-text-number {
  display: flex;
  line-height: 80px;
  margin: 0px;
  font-size: 2em;
}

.card-section {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: whitesmoke;
  border: 10px solid rgb(126, 127, 99);
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  height: 180px;
  width: 120px;
  text-align: center;
}

.card:hover {
  scale: 1.2;
  cursor: move;
}

.my-turn {
  display: none;
}
