.header {
  background-color: #3e70a7;
  flex: none;
  /* display: flex;
  flex-direction: row; */
  padding: 0px;
  min-height: 4em;
}

.header-title {
  align-self: center;
  color: whitesmoke;
  margin: 0px;
  padding: 0px 10px;
  white-space: nowrap;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
  min-height: 4em;
  white-space: nowrap;
}

.disabled {
  display: none;
  color: rgb(0, 0, 0);
  font-style: italic;
}

.header-menu-link {
  padding: 15px 20px;
}

.header-menu-link:hover {
  color: rgb(255, 255, 255);
  background-color: #00000022;
}

.header-right {
  display: flex;
  align-items: center;
}

.log-out-button {
  align-self: center;
  white-space: nowrap;
}

.account_circle {
  margin-right: 10px;
}

/* .header_img {
  margin: 10px 0px;
} */
