header {
  background-color: #3e70a7;
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
  min-height: 60px;
}

nav {
  flex: 1;
  display: flex;
}

menu {
  flex: 1;
  display: flex;
  margin: 0px;
  padding-left: 10px;
}

.header-title {
  align-self: center;
  color: whitesmoke;
  margin: 0px;
  padding: 0px 10px;
}

li.header-menu {
  display: flex;
  list-style-type: none;
  text-decoration: none;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
}

.disabled {
  display: none;
  color: rgb(0, 0, 0);
  font-style: italic;
}

.header-menu-link {
  padding: 15px 20px;
}

.header-menu-link:hover {
  background-color: #ffffff22;
}

.header-right {
  display: flex;
  align-items: center;
}

.log-out-button {
  background-color: #a53e42;
  border-radius: 5px;
  border: 2px solid whitesmoke;
  padding: 0.3em 0.7em;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
}

.log-out-button:hover {
  background-color: #cc4f55;
}

.account_circle {
  margin-right: 10px;
}
