table {
  background-color: rgba(255, 0, 0, 0);
  /* width: 500px; */
  border-radius: 10px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.089);
  text-align: center;
}

th {
  padding: 10px;
  color: whitesmoke;
  background-color: #3e70a7;
}

td {
  padding: 15px;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: #c2cedb;
}

/* If tr and has ID selected, then apply the following styles */
tr#selected {
  background-color: #fdffc2;
}

tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
