.text-adventure-container {
  flex: 1;
  align-self: flex-start;
}

.text-adventure {
  flex: none;
  border-radius: 10px;

  color: whitesmoke;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 200px;
  width: 500px;
  font-size: 0.8em;
  padding: 20px;
}

.text-adventure.is-over {
  background-color: #525252;
  scrollbar-color: rgb(121, 83, 115) #00000000;
}

.text-adventure.not-over {
  background-color: #333333;
  scrollbar-color: rgb(121, 83, 115) #00000000;
}

.is-over-grow {
  scale: 1.05;
}

.drag-drop-overlay {
  position: relative;
  background-color: #ffffffc9;
  border: #a7a7a7 dashed 10px;
  border-radius: 10px;
  top: -200px;

  height: 200px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
